.tabs {
    display: flex;
    justify-content: space-between; /* hoặc space-between nếu muốn dàn đều */
    align-items: center;
    margin: 0px 300px;
    border-bottom: 1px solid var(--color-neutral3);
    background-color: var(--color-bg);
    gap: 24px;
    text-transform: uppercase;
}
.tab-item {
    text-align: center;
    padding: 16px 0px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-neutral3);
    transition: color 0.2s ease, background-color 0.2s ease;
    border-bottom: 2px solid transparent;  
}

    .tab-item:hover {
        color: var(--color-text-main);
    }

    .tab-item.active {
        color: var(--color-main);
        border-bottom: 2px solid var(--color-main-color);
    }

.search-input {
    flex: 1;
    padding: 12px 24px;
    border: 1px solid var(--color-neutral2);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease;
    width: 100%;
    margin: 0px 300px;
}

.button_48_rounded_fill {
    all: unset; /* reset hết style mặc định của button */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    border-radius: 8px;
    padding: 12px 16px;
    transition: background-color 0.2s ease;
    gap: 8px;
    color: var(--color-white);
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}
.button_48_rounded_fill:hover{
    background-color: var(--color-main-40);
}

.button_48_pill_fill {
    all: unset; /* reset hết style mặc định của button */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    border-radius: 100px;
    padding: 12px 16px;
    transition: background-color 0.2s ease;
    gap: 8px;
    color: var(--color-white);
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}

    .button_48_pill_fill:hover {
        background-color: var(--color-main-40);
    }

/* Responsive */
@media (max-width: 1200px) {
    .tabs {
        margin: 0px 120px;
        gap: 40px;
        flex-wrap: wrap;
    }
    .tab-item {
        flex: 1;
        width: 100%;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {

    .tabs {
        margin: 0px 40px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
    }
    .tab-item {
        flex: 1;
        width: 100%;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .tabs {
        margin: 0px 40px;
        flex-direction: column;
    }
}
