/* === BANNER === */
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* === TIÊU ĐỀ TRANG === */
.main-content-title {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px 300px;
    text-transform: uppercase;
}

.color-main {
    color: var(--color-main);
}

.text-main{
    color: var(--color-text-main);
}

.white-main{
    color: var(--color-white);
}

/* Grid layout */
.row-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 300px;
    flex:1;
    flex-wrap: wrap;
    width: 100%;
}
/* === GRID 8 Ô === */

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .grid-item img {
        width: 180px;
        height: 180px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 4, 10, 0.1); /* 👈 bóng nhẹ, tự nhiên */
    }

.main-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.home_main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 86px 300px;
    flex-wrap: wrap;
    background-image: url('../images/home/BG.png'); /* đường dẫn đến ảnh */
    background-size: cover; /* cho ảnh phủ kín */
    background-position: right; /* canh giữa ảnh */
    background-repeat: no-repeat; /* không lặp ảnh */
}

.card-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex: 0 0 calc(50% - 24px);
    background-image: url('../images/home/card.png'); /* đường dẫn đến ảnh */
    background-size: cover; /* cho ảnh phủ kín */
    background-position: right; /* canh giữa ảnh */
    background-repeat: no-repeat; /* không lặp ảnh */
    justify-content: flex-start;
    align-items: center;
    padding: 40px 32px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 16px;
    text-transform: uppercase;
}
    .card-item:hover {
        background-image: url('../images/home/card_hover.png');
    }
.card-item img{
    width: 56px;
    height: auto;
}

/* Responsive */
@media (max-width: 1200px) {
    .feature-container {
        margin: 0px 120px;
    }

    .home_main {
        padding: 24px 120px;
        gap: 20px;
    }
    .main-content-title {
        padding: 0px 120px;
    }
}

@media (max-width: 768px) {
    .feature-container {
        margin: 0px 40px;
    }

    .feature-item {
        flex: 1 1 calc(50% - 20px); /* còn 2 cột trên màn nhỏ */
    }

    .home_main {
        padding: 20px 40px;
        flex-direction: column;
    }
    .card-item{
        flex: 1;
        width: 100%;
    }
    .main-content-title {
        padding: 0px 40px;
    }
}

@media (max-width: 480px) {
    .feature-item {
        flex: 1 1 100%; /* 1 cột */
    }

    .home_main {
        padding: 16px 20px;
        gap: 16px;
    }
}
