/* === LAYOUT CHUNG === */

/* Tổng thể trang */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* để footer luôn nằm dưới */
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* Phần nội dung chính */
main .content {
    display: flex;
    flex-direction: column;
    flex: 1; /* chiếm hết khoảng trống giữa header và footer */
    padding: 0px;
    gap: 80px;
}

/* === HEADER === */

.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px; /* cách trên dưới 20px */
    background-color: var(--color-bg);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.header-container {
    display: flex;
    align-items: center;
}

.site-logo {
    height: auto;
    max-height: 80px;
}

/* === FOOTER === */

footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-bg);
}
.footer-container {
    display: flex;
    align-items: center;
    margin: 0px; /* cách lề trái 300px */
}
.footer-img {
    width: 100%;
    height: auto;   
}
picture,
picture img {
    display: block;
}
/* === RESPONSIVE === */
@media (max-width: 1200px) {
    .site-header {
        padding: 20px 120px;
    }
}

@media (max-width: 768px) {
    .site-header {
        padding: 20px 40px;
        flex-direction:column;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }


    main.content {
        padding: 20px 0px;
    }
}
